<form ref:form class="form" on:submit="click(event)" action="/raiseEvent" method="post">
	<slot></slot>
	<input type="hidden" name="event" value="{{event}}">
	<input type="hidden" name="parameters" value='{{parameters}}'>
</form>

<style>
	.form {
		position: relative;
	}
</style>
<script>

    import events from '../../events'

    export default {
        data() {
            return {
                parameters: '',
                event: ''
            }
        },
        methods: {
            click(event) {
                event.preventDefault()
                //construct a body represetation
                const body = {}
                Array.prototype.slice.call(this.refs.form.children).filter(c => c.type === 'input' && !!c.name).forEach(child => {
                    body[child.name] = child.value
                })
                events.emit(this.options.data.event,
                    eval(this.options.data.parameters) || window.__context,
                    body,
                    window.__context)
            }
        }
    }

</script>

